@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Обнуление стилей */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* Просто стили */

body {
  font-family: "CircularStd", sans-serif;
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Для тренировки, чтобы немножко разделить */

.homework {
  font-family: "Barlow", "CircularStd", serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 60px;
  color: rosybrown;
}

.name-one {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: blue;
}

.name-two {
  font-weight: 700;
  font-size: 26px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  color: blue;
}

/* Верстка статьи */

.header {
  font-family: "Barlow", serif;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

.menu {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.menu li {
  display: inline;
  margin-right: 20px;
  color: gray;
  box-shadow: 5px 5px 5px 5px rgb(115, 116, 104);
  border-radius: 5px;
}

p {
  margin-bottom: 20px;
}

.h3,
.h3-one,
.h3-two {
  font-style: oblique;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  display: inline-block;
  margin-bottom: 50px;
  border-bottom: 3px dashed black;
}

.number {
  text-align: justify;
  text-shadow: 10px 10px 10px black;
  padding: 20px 20px 20px 20px;
}

.number-two {
  border: 5px solid gold;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto 20px auto;
}
.number-three {
  max-height: 200px;
  overflow: auto;
  margin: 0 50px 20px 20px;
}

.number-four {
  max-width: 1000px;
  margin: 0 0 0 auto;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  outline: 5px double burlywood;
}

.number-five {
  border: 20px solid transparent;
  text-align: justify;
}

.number-six {
  padding: 20px;
  opacity: 0.3;
  box-shadow: 10px 10px 10px 10px red;
  color: fuchsia;
  border: 10px solid black;
}

.number-seven {
  max-width: 45%;
  display: inline-block;
  padding: 10px;
}

.number-eight {
  max-width: 45%;
  display: inline-block;
  padding: 10px;
}

.span {
  font-size: 22px;
  font-weight: 900;
}

.image-one {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 50px 150px;
  overflow: hidden;
}

.image-two {
  display: block;
  max-width: 200px;
  margin: 0 auto 30px auto;
  outline: 20px dotted red;
  border-radius: 10px;
}

/* Верстка макета */

.h1 {
  font-weight: 500;
  font-size: 65px;
  line-height: 1.3;
  margin: 0 0 20px 0;
  padding: 140px 0 0 426px;
  color: #313131;
}

.text {
  line-height: 1.25;
  max-width: 750px;
  text-align: center;
  margin: 0 0 224px 352px;
  color: #5f5f5f;
}

.next {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 20px 207px;
  color: #313131;
}

.text-one {
  font-size: 18px;
  line-height: 1.56;
  margin: 0 0 60px 207px;
  max-width: 508px;
  color: #5f5f5f;
}

.text-two {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 5px 207px;
  color: #313131;
}

.text-three {
  line-height: 1.28;
  margin: 0 0 278px 207px;
  color: #b8b8b8;
}

.image {
  margin-left: 207px;
}

.homework1 {
  margin-bottom: 20px;
}
